body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px;
}

/*--------------------site-header------------------*/
.site-header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    background: #333; 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.navbar {
    display: flex;
    width: 100%;
}

.logo {
    font-size: 24px; 
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-right: auto;
}

.nav-links li a {
    color: white; 
    text-decoration: none;
    padding: 15px 15px; 
    display: block;
}

.nav-links li a.active {
    color: #ffffff; 
    font-weight: bold; 

}

.nav-links li a:hover, 
.nav-links li a:focus {
    background: #555; 
}

.nav-links li a.disabled {
    color: grey;
    pointer-events: none;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-container input[type="text"] {
    padding: 5px;
    margin-right: 5px; 
    border: none;
    border-radius: 5px;
}

.search-container button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: green; 
    color: white; 
    cursor: pointer;
}

.search-container button:hover,
.search-container button:focus {
    background: darkgreen; 
}

/*--------------------contact-container------------------*/
.contact-container {
    width: 80%;
    margin: 0 auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: antiquewhite;
}

.contact-list h1{
    margin-top: 30px;
    margin-left: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.contact-item h2{
    color:rgb(64, 160, 212);
}

.contact-image {
    width: 200px; 
    height: 200px; 
    margin-right: 15px;
    border-radius: 50%; 
}

.contact-info p {
    margin: 0;
    padding: 0;
}


.google-maps iframe {
    width: 100%; 
    height: 50vh; 
    border: none; 
}

.google-maps {
    text-align: center;
}

.additional-info {
    background-color: aliceblue;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    padding:10px;
}

